.cart-item {
    display: flex;
    padding: 2% 5%;
    background-color: #7e7e7e;
    margin: 1% 0;
}

.cart-item img {
    height: 100px;
    width: 100px;
}

.cart-item h4 {
    width: 250px;
    padding: 0 4%;
}

.cart-item button {
    height: 38px;
}