.Item {
    margin: 2rem;
    border-radius: 0.75rem;
}

.Item div {
    background-color: #e4e4e4;
    border-top-right-radius: 0.75rem !important;
    border-bottom-left-radius: 0.75rem !important;
}

.Item div h4 {
    display: flex;
    justify-content: center;
}

.Item div img {
    display: block;
    width: 250px;
    height: 250px;
}

.Item div .btn-outline-dark {
    width: 100%;
    margin: 5px 0;
}

.item-price-stock {
    display: flex;
    justify-content: space-between;
}

/* Estas clases son para colorear si hay stock o no */
.with-stock {color: #009600;}

.out-of-stock {color: #ff0000;}