.item-count {
    display: block;
}

.item-count .item-count-amount {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.item-count .item-count-buttons {
    display: grid;
    grid-template-columns: 30% 70%;
}

.item-count .item-count-buttons button {
    padding: 3px;
    margin: 2px;
}