.item-count {
    display: block;
}

.item-count .item-count-amount {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.item-count .item-count-buttons button {
    padding: 2px;
    margin: 2px;
}